<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Profession</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${myData.id}"></td>
            <td th:text="${myData.name}"></td>
            <td th:text="${myData.surname}"></td>
            <td th:text="${myData.profession}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>